

:root {
  --sdCoreCarpenterCoreColorLightBaseplate: #fefbff;
  --sdCoreCarpenterCoreColorLightOnBaseplate: #1b1b1f;
  --sdCoreCarpenterCoreColorLightPrimary: #4659a9;
  --sdCoreCarpenterCoreColorLightOnPrimary: #ffffff;
  --sdCoreCarpenterCoreColorLightPrimaryMinor: #dde1ff;
  --sdCoreCarpenterCoreColorLightOnPrimaryMinor: #001355;
  --sdCoreCarpenterCoreColorLightSecondary: #006398;
  --sdCoreCarpenterCoreColorLightOnSecondary: #ffffff;
  --sdCoreCarpenterCoreColorLightSecondaryMinor: #cde5ff;
  --sdCoreCarpenterCoreColorLightOnSecondaryMinor: #001d32;
  --sdCoreCarpenterCoreColorLightAccent: #875200;
  --sdCoreCarpenterCoreColorLightOnAccent: #ffffff;
  --sdCoreCarpenterCoreColorLightAccentMinor: #ffddba;
  --sdCoreCarpenterCoreColorLightOnAccentMinor: #2b1700;
  --sdCoreCarpenterCoreColorLightBad: #ba1a1a;
  --sdCoreCarpenterCoreColorLightOnBad: #ffffff;
  --sdCoreCarpenterCoreColorLightBadMinor: #ffdad6;
  --sdCoreCarpenterCoreColorLightOnBadMinor: #410002;
  --sdCoreCarpenterCoreColorLightGood: #006e2a;
  --sdCoreCarpenterCoreColorLightOnGood: #ffffff;
  --sdCoreCarpenterCoreColorLightGoodMinor: #ceeacb;
  --sdCoreCarpenterCoreColorLightOnGoodMinor: #002107;
  --sdCoreCarpenterCoreColorLightSurface: #fefbff;
  --sdCoreCarpenterCoreColorLightOnSurface: #1b1b1f;
  --sdCoreCarpenterCoreColorLightAbsent: #5d5e67;
  --sdCoreCarpenterCoreColorLightOnAbsent: #ffffff;
  --sdCoreCarpenterCoreColorLightAbsentMinor: #e2e1ec;
  --sdCoreCarpenterCoreColorLightOnAbsentMinor: #1a1b23;
  --sdCoreCarpenterCoreColorLightOnBeware: #ffffff;
  --sdCoreCarpenterCoreColorLightBewareMinor: #f0e2af;
  --sdCoreCarpenterCoreColorLightOnBewareMinor: #1c1d00;
  --sdCoreCarpenterCoreColorLightBeware: #6d5e00;
  --sdCoreCarpenterCoreColorLightSurfaceMinor: #e2e1ec;
  --sdCoreCarpenterCoreColorLightOnSurfaceMinor: #45464f;
  --sdCoreCarpenterCoreColorLightInverseSurface: #303033;
  --sdCoreCarpenterCoreColorLightOnInverseSurface: #f3f0f4;
  --sdCoreCarpenterCoreColorLightInversePrimary: #b8c4ff;
  --sdCoreCarpenterCoreColorLightOutline: #90909a;
  --sdCoreCarpenterCoreColorLightOutlineVariant: #c8c6c9;
  --sdCoreCarpenterCoreColorLightScrim: #000000;
  --sdCoreCarpenterCoreColorLightSuperfaceTint: #4659a9;
  --sdCoreCarpenterCoreColorLightScrim60: #1b1b1e99;
  --sdCoreCarpenterCoreColorLightSurface1: #4659a90d;
  --sdCoreCarpenterCoreColorLightSurface2: #4659a914;
  --sdCoreCarpenterCoreColorLightSurface3: #4659a91c;
  --sdCoreCarpenterCoreColorLightSurface4: #4659a91f;
  --sdCoreCarpenterCoreColorLightSurface5: #4659a924;
  --sdCoreCarpenterCoreColorDarkBaseplate: #1b1b1f;
  --sdCoreCarpenterCoreColorDarkOnBaseplate: #e4e1e6;
  --sdCoreCarpenterCoreColorDarkPrimary: #b8c4ff;
  --sdCoreCarpenterCoreColorDarkOnPrimary: #102878;
  --sdCoreCarpenterCoreColorDarkPrimaryMinor: #2c4090;
  --sdCoreCarpenterCoreColorDarkOnPrimaryMinor: #dde1ff;
  --sdCoreCarpenterCoreColorDarkSecundary: #94ccff;
  --sdCoreCarpenterCoreColorDarkOnSecundary: #003352;
  --sdCoreCarpenterCoreColorDarkSecundaryMinor: #004b74;
  --sdCoreCarpenterCoreColorDarkOnSecundaryMinor: #cde5ff;
  --sdCoreCarpenterCoreColorDarkAccent: #ffb865;
  --sdCoreCarpenterCoreColorDarkOnAccent: #482a00;
  --sdCoreCarpenterCoreColorDarkAccentMinor: #673d00;
  --sdCoreCarpenterCoreColorDarkOnAccentMinor: #ffddba;
  --sdCoreCarpenterCoreColorDarkOutline: #8f909a;
  --sdCoreCarpenterCoreColorDarkOutlineVariant: #45464f;
  --sdCoreCarpenterCoreColorDarkBad: #ffb4ab;
  --sdCoreCarpenterCoreColorDarkOnBad: #690005;
  --sdCoreCarpenterCoreColorDarkBadMinor: #93000a;
  --sdCoreCarpenterCoreColorDarkOnBadMinor: #ffdad6;
  --sdCoreCarpenterCoreColorDarkGood: #7edb89;
  --sdCoreCarpenterCoreColorDarkOnGood: #003912;
  --sdCoreCarpenterCoreColorDarkGoodMinor: #00531e;
  --sdCoreCarpenterCoreColorDarkOnGoodMinor: #9af8a2;
  --sdCoreCarpenterCoreColorDarkBeware: #dbc766;
  --sdCoreCarpenterCoreColorDarkOnBeware: #393000;
  --sdCoreCarpenterCoreColorDarkBewareMinor: #524600;
  --sdCoreCarpenterCoreColorDarkOnBewareMinor: #f8e37f;
  --sdCoreCarpenterCoreColorDarkAbsent: #c6c6d0;
  --sdCoreCarpenterCoreColorDarkOnAbsent: #2f3038;
  --sdCoreCarpenterCoreColorDarkAbsentMinor: #45464f;
  --sdCoreCarpenterCoreColorDarkOnAbsentMinor: #e2e1ec;
  --sdCoreCarpenterCoreColorDarkSurface: #1b1b1f;
  --sdCoreCarpenterCoreColorDarkOnSurface: #e4e1e6;
  --sdCoreCarpenterCoreColorDarkSurfaceMinor: #45464f;
  --sdCoreCarpenterCoreColorDarkOnSurfaceMinor: #c6c5d0;
  --sdCoreCarpenterCoreColorDarkInverseSurface: #e4e1e5;
  --sdCoreCarpenterCoreColorDarkOnInverseSurface: #303033;
  --sdCoreCarpenterCoreColorDarkInversePrimary: #4659a9;
  --sdCoreCarpenterCoreColorDarkSurfaceTint: #b8c4ff;
  --sdCoreCarpenterCoreColorDarkScrim: #ffffff99;
  --sdCoreCarpenterCoreColorDarkSurface1: #b8c4ff0d;
  --sdCoreCarpenterCoreColorDarkSurface2: #b8c4ff14;
  --sdCoreCarpenterCoreColorDarkSurface3: #b8c4ff1c;
  --sdCoreCarpenterCoreColorDarkSurface4: #b8c4ff1f;
  --sdCoreCarpenterCoreColorDarkSurface5: #b8c4ff24;
  --sdCoreCarpenterExtColorNeutral20: #303033;
  --sdCoreCarpenterExtColorNeutral30: #47464a;
  --sdCoreCarpenterExtColorNeutralvariant0: #000000;
  --sdCoreCarpenterExtColorNeutralvariant40: #5d5e67;
  --sdCoreCarpenterExtColorNeutralvariant50: #767680;
  --sdCoreCarpenterExtColorNeutralvariant60: #8f909a;
  --sdCoreCarpenterExtColorNeutralvariant100: #ffffff;
  --sdCoreCarpenterExtColorPrimary0: #000000;
  --sdCoreCarpenterExtColorPrimary10: #001354;
  --sdCoreCarpenterExtColorPrimary20: #112878;
  --sdCoreCarpenterExtColorPrimary30: #2c408f;
  --sdCoreCarpenterExtColorPrimary40: #4659a9;
  --sdCoreCarpenterExtColorPrimary50: #5f72c4;
  --sdCoreCarpenterExtColorPrimary60: #798ce0;
  --sdCoreCarpenterExtColorPrimary70: #94a6fc;
  --sdCoreCarpenterExtColorPrimary80: #b8c4ff;
  --sdCoreCarpenterExtColorPrimary90: #dde1ff;
  --sdCoreCarpenterExtColorPrimary95: #efefff;
  --sdCoreCarpenterExtColorPrimary99: #fefbff;
  --sdCoreCarpenterExtColorPrimary100: #ffffff;
  --sdCoreCarpenterExtColorSecondary0: #000000;
  --sdCoreCarpenterExtColorSecondary10: #001d32;
  --sdCoreCarpenterExtColorSecondary20: #003352;
  --sdCoreCarpenterExtColorSecondary30: #004b74;
  --sdCoreCarpenterExtColorSecondary40: #016398;
  --sdCoreCarpenterExtColorSecondary50: #317cb3;
  --sdCoreCarpenterExtColorSecondary60: #5096ce;
  --sdCoreCarpenterExtColorSecondary70: #6db1eb;
  --sdCoreCarpenterExtColorSecondary80: #94ccff;
  --sdCoreCarpenterExtColorSecondary90: #cde5ff;
  --sdCoreCarpenterExtColorSecondary95: #e7f2ff;
  --sdCoreCarpenterExtColorSecondary99: #fcfcff;
  --sdCoreCarpenterExtColorSecondary100: #ffffff;
  --sdCoreCarpenterExtColorAccent0: #000000;
  --sdCoreCarpenterExtColorAccent10: #2b1700;
  --sdCoreCarpenterExtColorAccent20: #482900;
  --sdCoreCarpenterExtColorAccent30: #673d00;
  --sdCoreCarpenterExtColorAccent40: #875200;
  --sdCoreCarpenterExtColorAccent50: #a56a1d;
  --sdCoreCarpenterExtColorAccent60: #c28335;
  --sdCoreCarpenterExtColorAccent70: #e19d4d;
  --sdCoreCarpenterExtColorAccent80: #ffb866;
  --sdCoreCarpenterExtColorAccent90: #ffddba;
  --sdCoreCarpenterExtColorAccent95: #ffeedf;
  --sdCoreCarpenterExtColorAccent99: #fffbff;
  --sdCoreCarpenterExtColorAccent100: #ffffff;
  --sdCoreCarpenterExtColorBad0: #000000;
  --sdCoreCarpenterExtColorBad10: #410002;
  --sdCoreCarpenterExtColorBad20: #690004;
  --sdCoreCarpenterExtColorBad30: #930009;
  --sdCoreCarpenterExtColorBad40: #ba1a1a;
  --sdCoreCarpenterExtColorBad50: #de372f;
  --sdCoreCarpenterExtColorBad60: #ff5449;
  --sdCoreCarpenterExtColorBad70: #ff897d;
  --sdCoreCarpenterExtColorBad80: #ffb4ab;
  --sdCoreCarpenterExtColorBad90: #ffdad5;
  --sdCoreCarpenterExtColorBad95: #ffedea;
  --sdCoreCarpenterExtColorBad99: #fffbff;
  --sdCoreCarpenterExtColorBad100: #ffffff;
  --sdCoreCarpenterExtColorGood0: #000000;
  --sdCoreCarpenterExtColorGood10: #002108;
  --sdCoreCarpenterExtColorGood20: #003912;
  --sdCoreCarpenterExtColorGood30: #00531e;
  --sdCoreCarpenterExtColorGood40: #006e2a;
  --sdCoreCarpenterExtColorGood50: #2b8840;
  --sdCoreCarpenterExtColorGood60: #48a357;
  --sdCoreCarpenterExtColorGood70: #63be70;
  --sdCoreCarpenterExtColorGood80: #7edb89;
  --sdCoreCarpenterExtColorGood90: #9af8a2;
  --sdCoreCarpenterExtColorGood95: #c6ffc6;
  --sdCoreCarpenterExtColorGood99: #f6fff1;
  --sdCoreCarpenterExtColorGood100: #ffffff;
  --sdCoreCarpenterExtColorBeware0: #000000;
  --sdCoreCarpenterExtColorBeware10: #211b00;
  --sdCoreCarpenterExtColorBeware20: #393000;
  --sdCoreCarpenterExtColorBeware30: #524600;
  --sdCoreCarpenterExtColorBeware40: #6d5e00;
  --sdCoreCarpenterExtColorBeware50: #87771e;
  --sdCoreCarpenterExtColorBeware60: #a29136;
  --sdCoreCarpenterExtColorBeware70: #beab4e;
  --sdCoreCarpenterExtColorBeware80: #dbc766;
  --sdCoreCarpenterExtColorBeware90: #f8e37e;
  --sdCoreCarpenterExtColorBeware95: #fff1b8;
  --sdCoreCarpenterExtColorBeware99: #fffbff;
  --sdCoreCarpenterExtColorBeware100: #ffffff;
  --sdCoreCarpenterExtColorAbsent0: #000000;
  --sdCoreCarpenterExtColorAbsent10: #1a1b23;
  --sdCoreCarpenterExtColorNeutral0: #000000;
  --sdCoreCarpenterExtColorNeutral10: #1b1b1e;
  --sdCoreCarpenterExtColorNeutral40: #5f5e61;
  --sdCoreCarpenterExtColorNeutral50: #77767a;
  --sdCoreCarpenterExtColorNeutral60: #919094;
  --sdCoreCarpenterExtColorNeutral70: #acaaae;
  --sdCoreCarpenterExtColorNeutral80: #c8c6c9;
  --sdCoreCarpenterExtColorNeutral90: #e4e1e5;
  --sdCoreCarpenterExtColorNeutral95: #f3f0f4;
  --sdCoreCarpenterExtColorNeutral99: #fefbff;
  --sdCoreCarpenterExtColorNeutral100: #ffffff;
  --sdCoreCarpenterExtColorNeutralvariant10: #1a1b23;
  --sdCoreCarpenterExtColorNeutralvariant20: #2f3038;
  --sdCoreCarpenterExtColorNeutralvariant30: #45464f;
  --sdCoreCarpenterExtColorNeutralvariant70: #aaaab4;
  --sdCoreCarpenterExtColorNeutralvariant80: #c6c6d0;
  --sdCoreCarpenterExtColorNeutralvariant90: #e2e1ec;
  --sdCoreCarpenterExtColorNeutralvariant95: #f0f0fb;
  --sdCoreCarpenterExtColorNeutralvariant99: #fefbff;
  --sdCoreCarpenterStateLayersLightOnPrimaryOpacity8: #ffffff14;
  --sdCoreCarpenterStateLayersLightOnPrimaryOpacity12: #ffffff1f;
  --sdCoreCarpenterStateLayersLightOnPrimaryOpacity16: #ffffff29;
  --sdCoreCarpenterStateLayersLightOnPrimaryMinorOpacity8: #00135514;
  --sdCoreCarpenterStateLayersLightOnPrimaryMinorOpacity12: #0013551f;
  --sdCoreCarpenterStateLayersLightOnPrimaryMinorOpacity16: #00135529;
  --sdCoreCarpenterStateLayersLightOnSecundaryOpacity8: #ffffff14;
  --sdCoreCarpenterStateLayersLightOnSecundaryOpacity12: #ffffff1f;
  --sdCoreCarpenterStateLayersLightOnSecundaryOpacity16: #ffffff29;
  --sdCoreCarpenterStateLayersLightOnSecundaryMinorOpacity8: #001d3214;
  --sdCoreCarpenterStateLayersLightOnSecundaryMinorOpacity12: #001d321f;
  --sdCoreCarpenterStateLayersLightOnSecundaryMinorOpacity16: #001d3229;
  --sdCoreCarpenterStateLayersLightOnAccentOpacity8: #ffffff14;
  --sdCoreCarpenterStateLayersLightOnAccentOpacity12: #ffffff1f;
  --sdCoreCarpenterStateLayersLightOnAccentOpacity16: #ffffff29;
  --sdCoreCarpenterStateLayersLightOnAccentMinorOpacity8: #2b170014;
  --sdCoreCarpenterStateLayersLightOnAccentMinorOpacity12: #2b17001f;
  --sdCoreCarpenterStateLayersLightOnAccentMinorOpacity16: #2b170029;
  --sdCoreCarpenterStateLayersLightOnBadOpacity8: #ffffff14;
  --sdCoreCarpenterStateLayersLightOnBadOpacity12: #ffffff1f;
  --sdCoreCarpenterStateLayersLightOnBadOpacity16: #ffffff29;
  --sdCoreCarpenterStateLayersLightOnBadMinorOpacity8: #41000214;
  --sdCoreCarpenterStateLayersLightOnBadMinorOpacity12: #4100021f;
  --sdCoreCarpenterStateLayersLightOnBadMinorOpacity16: #41000229;
  --sdCoreCarpenterStateLayersLightOnGoodOpacity8: #ffffff14;
  --sdCoreCarpenterStateLayersLightOnGoodOpacity12: #ffffff1f;
  --sdCoreCarpenterStateLayersLightOnGoodOpacity16: #ffffff29;
  --sdCoreCarpenterStateLayersLightOnGoodMinorOpacity8: #00210714;
  --sdCoreCarpenterStateLayersLightOnGoodMinorOpacity12: #0021071f;
  --sdCoreCarpenterStateLayersLightOnGoodMinorOpacity16: #00210729;
  --sdCoreCarpenterStateLayersLightOnSurfaceOpacity8: #ffffff14;
  --sdCoreCarpenterStateLayersLightOnSurfaceOpacity12: #ffffff1f;
  --sdCoreCarpenterStateLayersLightOnSurfaceOpacity16: #ffffff29;
  --sdCoreCarpenterStateLayersLightOnSurfaceMinorOpacity8: #45464f14;
  --sdCoreCarpenterStateLayersLightOnSurfaceMinorOpacity12: #45464f1f;
  --sdCoreCarpenterStateLayersLightOnSurfaceMinorOpacity16: #45464f29;
  --sdCoreCarpenterStateLayersLightOnAbsentOpacity8: #ffffff;
  --sdCoreCarpenterStateLayersLightOnAbsentOpacity12: #ffffff1f;
  --sdCoreCarpenterStateLayersLightOnAbsentOpacity16: #ffffff29;
  --sdCoreCarpenterStateLayersLightOnAbsentMinorOpacity8: #1a1b2314;
  --sdCoreCarpenterStateLayersLightOnAbsentMinorOpacity12: #1a1b231f;
  --sdCoreCarpenterStateLayersLightOnAbsentMinorOpacity16: #1a1b2329;
  --sdCoreCarpenterStateLayersLightOnBewareOpacity8: #ffffff14;
  --sdCoreCarpenterStateLayersLightOnBewareOpacity12: #ffffff1f;
  --sdCoreCarpenterStateLayersLightOnBewareOpacity16: #ffffff29;
  --sdCoreCarpenterStateLayersLightOnBewareMinorOpacity8: #1c1d0014;
  --sdCoreCarpenterStateLayersLightOnBewareMinorOpacity12: #1c1d001f;
  --sdCoreCarpenterStateLayersLightOnBewareMinorOpacity16: #1c1d0029;
  --sdCoreCarpenterStateLayersDarkOnPrimaryOpacity8: #10287814;
  --sdCoreCarpenterStateLayersDarkOnPrimaryOpacity12: #1028781f;
  --sdCoreCarpenterStateLayersDarkOnPrimaryOpacity16: #10287829;
  --sdCoreCarpenterStateLayersDarkOnPrimaryMinorOpacity8: #dde1ff14;
  --sdCoreCarpenterStateLayersDarkOnPrimaryMinorOpacity12: #dde1ff1f;
  --sdCoreCarpenterStateLayersDarkOnPrimaryMinorOpacity16: #dde1ff29;
  --sdCoreCarpenterStateLayersDarkOnSecundaryOpacity8: #00335214;
  --sdCoreCarpenterStateLayersDarkOnSecundaryOpacity12: #0033521f;
  --sdCoreCarpenterStateLayersDarkOnSecundaryOpacity16: #00335229;
  --sdCoreCarpenterStateLayersDarkOnSecundaryMinorOpacity8: #cde5ff14;
  --sdCoreCarpenterStateLayersDarkOnSecundaryMinorOpacity12: #cde5ff1f;
  --sdCoreCarpenterStateLayersDarkOnSecundaryMinorOpacity16: #cde5ff29;
  --sdCoreCarpenterStateLayersDarkOnAccentOpacity8: #482a0014;
  --sdCoreCarpenterStateLayersDarkOnAccentOpacity12: #482a001f;
  --sdCoreCarpenterStateLayersDarkOnAccentOpacity16: #482a0029;
  --sdCoreCarpenterStateLayersDarkOnAccentMinorOpacity8: #ffddba14;
  --sdCoreCarpenterStateLayersDarkOnAccentMinorOpacity12: #ffddba1f;
  --sdCoreCarpenterStateLayersDarkOnAccentMinorOpacity16: #ffddba29;
  --sdCoreCarpenterStateLayersDarkOnBadOpacity8: #69000514;
  --sdCoreCarpenterStateLayersDarkOnBadOpacity12: #6900051f;
  --sdCoreCarpenterStateLayersDarkOnBadOpacity16: #69000529;
  --sdCoreCarpenterStateLayersDarkOnBadMinorOpacity8: #ffdad614;
  --sdCoreCarpenterStateLayersDarkOnBadMinorOpacity12: #ffdad61f;
  --sdCoreCarpenterStateLayersDarkOnBadMinorOpacity16: #ffdad629;
  --sdCoreCarpenterStateLayersDarkOnGoodOpacity8: #00391214;
  --sdCoreCarpenterStateLayersDarkOnGoodOpacity12: #0039121f;
  --sdCoreCarpenterStateLayersDarkOnGoodOpacity16: #00391229;
  --sdCoreCarpenterStateLayersDarkOnGoodMinorOpacity8: #00531e14;
  --sdCoreCarpenterStateLayersDarkOnGoodMinorOpacity12: #00531e1f;
  --sdCoreCarpenterStateLayersDarkOnGoodMinorOpacity16: #00531e29;
  --sdCoreCarpenterStateLayersDarkOnSurfaceOpacity8: #e4e1e614;
  --sdCoreCarpenterStateLayersDarkOnSurfaceOpacity12: #e4e1e61f;
  --sdCoreCarpenterStateLayersDarkOnSurfaceOpacity16: #e4e1e629;
  --sdCoreCarpenterStateLayersDarkOnSurfaceMinorOpacity8: #c6c5d014;
  --sdCoreCarpenterStateLayersDarkOnSurfaceMinorOpacity12: #c6c5d01f;
  --sdCoreCarpenterStateLayersDarkOnSurfaceMinorOpacity16: #c6c5d029;
  --sdCoreCarpenterStateLayersDarkOnAbsentOpacity8: #2f303814;
  --sdCoreCarpenterStateLayersDarkOnAbsentOpacity12: #2f30381f;
  --sdCoreCarpenterStateLayersDarkOnAbsentOpacity16: #2f303829;
  --sdCoreCarpenterStateLayersDarkOnAbsentMinorOpacity8: #e2e1ec14;
  --sdCoreCarpenterStateLayersDarkOnAbsentMinorOpacity12: #e2e1ec1f;
  --sdCoreCarpenterStateLayersDarkOnAbsentMinorOpacity16: #e2e1ec29;
  --sdCoreCarpenterStateLayersDarkOnBewareOpacity8: #39300014;
  --sdCoreCarpenterStateLayersDarkOnBewareOpacity12: #3930001f;
  --sdCoreCarpenterStateLayersDarkOnBewareOpacity16: #39300029;
  --sdCoreCarpenterStateLayersDarkOnBewareMinorOpacity8: #f8e37f14;
  --sdCoreCarpenterStateLayersDarkOnBewareMinorOpacity12: #f8e37f1f;
  --sdCoreCarpenterStateLayersDarkOnBewareMinorOpacity16: #f8e37f29;
}
