

:root{
  --carpenter-core-color-light-baseplate: #fefbff;
  --carpenter-core-color-light-on-baseplate: #1b1b1f;
  --carpenter-core-color-light-primary: #4659a9;
  --carpenter-core-color-light-on-primary: #ffffff;
  --carpenter-core-color-light-primary-minor: #dde1ff;
  --carpenter-core-color-light-on-primary-minor: #001355;
  --carpenter-core-color-light-secondary: #006398;
  --carpenter-core-color-light-on-secondary: #ffffff;
  --carpenter-core-color-light-secondary-minor: #cde5ff;
  --carpenter-core-color-light-on-secondary-minor: #001d32;
  --carpenter-core-color-light-accent: #875200;
  --carpenter-core-color-light-on-accent: #ffffff;
  --carpenter-core-color-light-accent-minor: #ffddba;
  --carpenter-core-color-light-on-accent-minor: #2b1700;
  --carpenter-core-color-light-bad: #ba1a1a;
  --carpenter-core-color-light-on-bad: #ffffff;
  --carpenter-core-color-light-bad-minor: #ffdad6;
  --carpenter-core-color-light-on-bad-minor: #410002;
  --carpenter-core-color-light-good: #006e2a;
  --carpenter-core-color-light-on-good: #ffffff;
  --carpenter-core-color-light-good-minor: #ceeacb;
  --carpenter-core-color-light-on-good-minor: #002107;
  --carpenter-core-color-light-surface: #fefbff;
  --carpenter-core-color-light-on-surface: #1b1b1f;
  --carpenter-core-color-light-absent: #5d5e67;
  --carpenter-core-color-light-on-absent: #ffffff;
  --carpenter-core-color-light-absent-minor: #e2e1ec;
  --carpenter-core-color-light-on-absent-minor: #1a1b23;
  --carpenter-core-color-light-on-beware: #ffffff;
  --carpenter-core-color-light-beware-minor: #f0e2af;
  --carpenter-core-color-light-on-beware-minor: #1c1d00;
  --carpenter-core-color-light-beware: #6d5e00;
  --carpenter-core-color-light-surface-minor: #e2e1ec;
  --carpenter-core-color-light-on-surface-minor: #45464f;
  --carpenter-core-color-light-inverse-surface: #303033;
  --carpenter-core-color-light-on-inverse-surface: #f3f0f4;
  --carpenter-core-color-light-inverse-primary: #b8c4ff;
  --carpenter-core-color-light-outline: #90909a;
  --carpenter-core-color-light-outline-variant: #c8c6c9;
  --carpenter-core-color-light-scrim: #000000;
  --carpenter-core-color-light-superface-tint: #4659a9;
  --carpenter-core-color-light-scrim-60: #1b1b1e99;
  --carpenter-core-color-light-surface-1: #4659a90d;
  --carpenter-core-color-light-surface-2: #4659a914;
  --carpenter-core-color-light-surface-3: #4659a91c;
  --carpenter-core-color-light-surface-4: #4659a91f;
  --carpenter-core-color-light-surface-5: #4659a924;
  --carpenter-core-color-dark-baseplate: #1b1b1f;
  --carpenter-core-color-dark-on-baseplate: #e4e1e6;
  --carpenter-core-color-dark-primary: #b8c4ff;
  --carpenter-core-color-dark-on-primary: #102878;
  --carpenter-core-color-dark-primary-minor: #2c4090;
  --carpenter-core-color-dark-on-primary-minor: #dde1ff;
  --carpenter-core-color-dark-secundary: #94ccff;
  --carpenter-core-color-dark-on-secundary: #003352;
  --carpenter-core-color-dark-secundary-minor: #004b74;
  --carpenter-core-color-dark-on-secundary-minor: #cde5ff;
  --carpenter-core-color-dark-accent: #ffb865;
  --carpenter-core-color-dark-on-accent: #482a00;
  --carpenter-core-color-dark-accent-minor: #673d00;
  --carpenter-core-color-dark-on-accent-minor: #ffddba;
  --carpenter-core-color-dark-outline: #8f909a;
  --carpenter-core-color-dark-outline-variant: #45464f;
  --carpenter-core-color-dark-bad: #ffb4ab;
  --carpenter-core-color-dark-on-bad: #690005;
  --carpenter-core-color-dark-bad-minor: #93000a;
  --carpenter-core-color-dark-on-bad-minor: #ffdad6;
  --carpenter-core-color-dark-good: #7edb89;
  --carpenter-core-color-dark-on-good: #003912;
  --carpenter-core-color-dark-good-minor: #00531e;
  --carpenter-core-color-dark-on-good-minor: #9af8a2;
  --carpenter-core-color-dark-beware: #dbc766;
  --carpenter-core-color-dark-on-beware: #393000;
  --carpenter-core-color-dark-beware-minor: #524600;
  --carpenter-core-color-dark-on-beware-minor: #f8e37f;
  --carpenter-core-color-dark-absent: #c6c6d0;
  --carpenter-core-color-dark-on-absent: #2f3038;
  --carpenter-core-color-dark-absent-minor: #45464f;
  --carpenter-core-color-dark-on-absent-minor: #e2e1ec;
  --carpenter-core-color-dark-surface: #1b1b1f;
  --carpenter-core-color-dark-on-surface: #e4e1e6;
  --carpenter-core-color-dark-surface-minor: #45464f;
  --carpenter-core-color-dark-on-surface-minor: #c6c5d0;
  --carpenter-core-color-dark-inverse-surface: #e4e1e5;
  --carpenter-core-color-dark-on-inverse-surface: #303033;
  --carpenter-core-color-dark-inverse-primary: #4659a9;
  --carpenter-core-color-dark-surface-tint: #b8c4ff;
  --carpenter-core-color-dark-scrim: #ffffff99;
  --carpenter-core-color-dark-surface-1: #b8c4ff0d;
  --carpenter-core-color-dark-surface-2: #b8c4ff14;
  --carpenter-core-color-dark-surface-3: #b8c4ff1c;
  --carpenter-core-color-dark-surface-4: #b8c4ff1f;
  --carpenter-core-color-dark-surface-5: #b8c4ff24;
  --carpenter-ext-color-neutral-20: #303033;
  --carpenter-ext-color-neutral-30: #47464a;
  --carpenter-ext-color-neutral-variant-0: #000000;
  --carpenter-ext-color-neutral-variant-40: #5d5e67;
  --carpenter-ext-color-neutral-variant-50: #767680;
  --carpenter-ext-color-neutral-variant-60: #8f909a;
  --carpenter-ext-color-neutral-variant-100: #ffffff;
  --carpenter-ext-color-primary-0: #000000;
  --carpenter-ext-color-primary-10: #001354;
  --carpenter-ext-color-primary-20: #112878;
  --carpenter-ext-color-primary-30: #2c408f;
  --carpenter-ext-color-primary-40: #4659a9;
  --carpenter-ext-color-primary-50: #5f72c4;
  --carpenter-ext-color-primary-60: #798ce0;
  --carpenter-ext-color-primary-70: #94a6fc;
  --carpenter-ext-color-primary-80: #b8c4ff;
  --carpenter-ext-color-primary-90: #dde1ff;
  --carpenter-ext-color-primary-95: #efefff;
  --carpenter-ext-color-primary-99: #fefbff;
  --carpenter-ext-color-primary-100: #ffffff;
  --carpenter-ext-color-secondary-0: #000000;
  --carpenter-ext-color-secondary-10: #001d32;
  --carpenter-ext-color-secondary-20: #003352;
  --carpenter-ext-color-secondary-30: #004b74;
  --carpenter-ext-color-secondary-40: #016398;
  --carpenter-ext-color-secondary-50: #317cb3;
  --carpenter-ext-color-secondary-60: #5096ce;
  --carpenter-ext-color-secondary-70: #6db1eb;
  --carpenter-ext-color-secondary-80: #94ccff;
  --carpenter-ext-color-secondary-90: #cde5ff;
  --carpenter-ext-color-secondary-95: #e7f2ff;
  --carpenter-ext-color-secondary-99: #fcfcff;
  --carpenter-ext-color-secondary-100: #ffffff;
  --carpenter-ext-color-accent-0: #000000;
  --carpenter-ext-color-accent-10: #2b1700;
  --carpenter-ext-color-accent-20: #482900;
  --carpenter-ext-color-accent-30: #673d00;
  --carpenter-ext-color-accent-40: #875200;
  --carpenter-ext-color-accent-50: #a56a1d;
  --carpenter-ext-color-accent-60: #c28335;
  --carpenter-ext-color-accent-70: #e19d4d;
  --carpenter-ext-color-accent-80: #ffb866;
  --carpenter-ext-color-accent-90: #ffddba;
  --carpenter-ext-color-accent-95: #ffeedf;
  --carpenter-ext-color-accent-99: #fffbff;
  --carpenter-ext-color-accent-100: #ffffff;
  --carpenter-ext-color-bad-0: #000000;
  --carpenter-ext-color-bad-10: #410002;
  --carpenter-ext-color-bad-20: #690004;
  --carpenter-ext-color-bad-30: #930009;
  --carpenter-ext-color-bad-40: #ba1a1a;
  --carpenter-ext-color-bad-50: #de372f;
  --carpenter-ext-color-bad-60: #ff5449;
  --carpenter-ext-color-bad-70: #ff897d;
  --carpenter-ext-color-bad-80: #ffb4ab;
  --carpenter-ext-color-bad-90: #ffdad5;
  --carpenter-ext-color-bad-95: #ffedea;
  --carpenter-ext-color-bad-99: #fffbff;
  --carpenter-ext-color-bad-100: #ffffff;
  --carpenter-ext-color-good-0: #000000;
  --carpenter-ext-color-good-10: #002108;
  --carpenter-ext-color-good-20: #003912;
  --carpenter-ext-color-good-30: #00531e;
  --carpenter-ext-color-good-40: #006e2a;
  --carpenter-ext-color-good-50: #2b8840;
  --carpenter-ext-color-good-60: #48a357;
  --carpenter-ext-color-good-70: #63be70;
  --carpenter-ext-color-good-80: #7edb89;
  --carpenter-ext-color-good-90: #9af8a2;
  --carpenter-ext-color-good-95: #c6ffc6;
  --carpenter-ext-color-good-99: #f6fff1;
  --carpenter-ext-color-good-100: #ffffff;
  --carpenter-ext-color-beware-0: #000000;
  --carpenter-ext-color-beware-10: #211b00;
  --carpenter-ext-color-beware-20: #393000;
  --carpenter-ext-color-beware-30: #524600;
  --carpenter-ext-color-beware-40: #6d5e00;
  --carpenter-ext-color-beware-50: #87771e;
  --carpenter-ext-color-beware-60: #a29136;
  --carpenter-ext-color-beware-70: #beab4e;
  --carpenter-ext-color-beware-80: #dbc766;
  --carpenter-ext-color-beware-90: #f8e37e;
  --carpenter-ext-color-beware-95: #fff1b8;
  --carpenter-ext-color-beware-99: #fffbff;
  --carpenter-ext-color-beware-100: #ffffff;
  --carpenter-ext-color-absent-0: #000000;
  --carpenter-ext-color-absent-10: #1a1b23;
  --carpenter-ext-color-neutral-0: #000000;
  --carpenter-ext-color-neutral-10: #1b1b1e;
  --carpenter-ext-color-neutral-40: #5f5e61;
  --carpenter-ext-color-neutral-50: #77767a;
  --carpenter-ext-color-neutral-60: #919094;
  --carpenter-ext-color-neutral-70: #acaaae;
  --carpenter-ext-color-neutral-80: #c8c6c9;
  --carpenter-ext-color-neutral-90: #e4e1e5;
  --carpenter-ext-color-neutral-95: #f3f0f4;
  --carpenter-ext-color-neutral-99: #fefbff;
  --carpenter-ext-color-neutral-100: #ffffff;
  --carpenter-ext-color-neutral-variant-10: #1a1b23;
  --carpenter-ext-color-neutral-variant-20: #2f3038;
  --carpenter-ext-color-neutral-variant-30: #45464f;
  --carpenter-ext-color-neutral-variant-70: #aaaab4;
  --carpenter-ext-color-neutral-variant-80: #c6c6d0;
  --carpenter-ext-color-neutral-variant-90: #e2e1ec;
  --carpenter-ext-color-neutral-variant-95: #f0f0fb;
  --carpenter-ext-color-neutral-variant-99: #fefbff;
  --carpenter-state-layers-light-on-primary-opacity-8: #ffffff14;
  --carpenter-state-layers-light-on-primary-opacity-12: #ffffff1f;
  --carpenter-state-layers-light-on-primary-opacity-16: #ffffff29;
  --carpenter-state-layers-light-on-primary-minor-opacity-8: #00135514;
  --carpenter-state-layers-light-on-primary-minor-opacity-12: #0013551f;
  --carpenter-state-layers-light-on-primary-minor-opacity-16: #00135529;
  --carpenter-state-layers-light-on-secundary-opacity-8: #ffffff14;
  --carpenter-state-layers-light-on-secundary-opacity-12: #ffffff1f;
  --carpenter-state-layers-light-on-secundary-opacity-16: #ffffff29;
  --carpenter-state-layers-light-on-secundary-minor-opacity-8: #001d3214;
  --carpenter-state-layers-light-on-secundary-minor-opacity-12: #001d321f;
  --carpenter-state-layers-light-on-secundary-minor-opacity-16: #001d3229;
  --carpenter-state-layers-light-on-accent-opacity-8: #ffffff14;
  --carpenter-state-layers-light-on-accent-opacity-12: #ffffff1f;
  --carpenter-state-layers-light-on-accent-opacity-16: #ffffff29;
  --carpenter-state-layers-light-on-accent-minor-opacity-8: #2b170014;
  --carpenter-state-layers-light-on-accent-minor-opacity-12: #2b17001f;
  --carpenter-state-layers-light-on-accent-minor-opacity-16: #2b170029;
  --carpenter-state-layers-light-on-bad-opacity-8: #ffffff14;
  --carpenter-state-layers-light-on-bad-opacity-12: #ffffff1f;
  --carpenter-state-layers-light-on-bad-opacity-16: #ffffff29;
  --carpenter-state-layers-light-on-bad-minor-opacity-8: #41000214;
  --carpenter-state-layers-light-on-bad-minor-opacity-12: #4100021f;
  --carpenter-state-layers-light-on-bad-minor-opacity-16: #41000229;
  --carpenter-state-layers-light-on-good-opacity-8: #ffffff14;
  --carpenter-state-layers-light-on-good-opacity-12: #ffffff1f;
  --carpenter-state-layers-light-on-good-opacity-16: #ffffff29;
  --carpenter-state-layers-light-on-good-minor-opacity-8: #00210714;
  --carpenter-state-layers-light-on-good-minor-opacity-12: #0021071f;
  --carpenter-state-layers-light-on-good-minor-opacity-16: #00210729;
  --carpenter-state-layers-light-on-surface-opacity-8: #ffffff14;
  --carpenter-state-layers-light-on-surface-opacity-12: #ffffff1f;
  --carpenter-state-layers-light-on-surface-opacity-16: #ffffff29;
  --carpenter-state-layers-light-on-surface-minor-opacity-8: #45464f14;
  --carpenter-state-layers-light-on-surface-minor-opacity-12: #45464f1f;
  --carpenter-state-layers-light-on-surface-minor-opacity-16: #45464f29;
  --carpenter-state-layers-light-on-absent-opacity-8: #ffffff;
  --carpenter-state-layers-light-on-absent-opacity-12: #ffffff1f;
  --carpenter-state-layers-light-on-absent-opacity-16: #ffffff29;
  --carpenter-state-layers-light-on-absent-minor-opacity-8: #1a1b2314;
  --carpenter-state-layers-light-on-absent-minor-opacity-12: #1a1b231f;
  --carpenter-state-layers-light-on-absent-minor-opacity-16: #1a1b2329;
  --carpenter-state-layers-light-on-beware-opacity-8: #ffffff14;
  --carpenter-state-layers-light-on-beware-opacity-12: #ffffff1f;
  --carpenter-state-layers-light-on-beware-opacity-16: #ffffff29;
  --carpenter-state-layers-light-on-beware-minor-opacity-8: #1c1d0014;
  --carpenter-state-layers-light-on-beware-minor-opacity-12: #1c1d001f;
  --carpenter-state-layers-light-on-beware-minor-opacity-16: #1c1d0029;
  --carpenter-state-layers-dark-on-primary-opacity-8: #10287814;
  --carpenter-state-layers-dark-on-primary-opacity-12: #1028781f;
  --carpenter-state-layers-dark-on-primary-opacity-16: #10287829;
  --carpenter-state-layers-dark-on-primary-minor-opacity-8: #dde1ff14;
  --carpenter-state-layers-dark-on-primary-minor-opacity-12: #dde1ff1f;
  --carpenter-state-layers-dark-on-primary-minor-opacity-16: #dde1ff29;
  --carpenter-state-layers-dark-on-secundary-opacity-8: #00335214;
  --carpenter-state-layers-dark-on-secundary-opacity-12: #0033521f;
  --carpenter-state-layers-dark-on-secundary-opacity-16: #00335229;
  --carpenter-state-layers-dark-on-secundary-minor-opacity-8: #cde5ff14;
  --carpenter-state-layers-dark-on-secundary-minor-opacity-12: #cde5ff1f;
  --carpenter-state-layers-dark-on-secundary-minor-opacity-16: #cde5ff29;
  --carpenter-state-layers-dark-on-accent-opacity-8: #482a0014;
  --carpenter-state-layers-dark-on-accent-opacity-12: #482a001f;
  --carpenter-state-layers-dark-on-accent-opacity-16: #482a0029;
  --carpenter-state-layers-dark-on-accent-minor-opacity-8: #ffddba14;
  --carpenter-state-layers-dark-on-accent-minor-opacity-12: #ffddba1f;
  --carpenter-state-layers-dark-on-accent-minor-opacity-16: #ffddba29;
  --carpenter-state-layers-dark-on-bad-opacity-8: #69000514;
  --carpenter-state-layers-dark-on-bad-opacity-12: #6900051f;
  --carpenter-state-layers-dark-on-bad-opacity-16: #69000529;
  --carpenter-state-layers-dark-on-bad-minor-opacity-8: #ffdad614;
  --carpenter-state-layers-dark-on-bad-minor-opacity-12: #ffdad61f;
  --carpenter-state-layers-dark-on-bad-minor-opacity-16: #ffdad629;
  --carpenter-state-layers-dark-on-good-opacity-8: #00391214;
  --carpenter-state-layers-dark-on-good-opacity-12: #0039121f;
  --carpenter-state-layers-dark-on-good-opacity-16: #00391229;
  --carpenter-state-layers-dark-on-good-minor-opacity-8: #00531e14;
  --carpenter-state-layers-dark-on-good-minor-opacity-12: #00531e1f;
  --carpenter-state-layers-dark-on-good-minor-opacity-16: #00531e29;
  --carpenter-state-layers-dark-on-surface-opacity-8: #e4e1e614;
  --carpenter-state-layers-dark-on-surface-opacity-12: #e4e1e61f;
  --carpenter-state-layers-dark-on-surface-opacity-16: #e4e1e629;
  --carpenter-state-layers-dark-on-surface-minor-opacity-8: #c6c5d014;
  --carpenter-state-layers-dark-on-surface-minor-opacity-12: #c6c5d01f;
  --carpenter-state-layers-dark-on-surface-minor-opacity-16: #c6c5d029;
  --carpenter-state-layers-dark-on-absent-opacity-8: #2f303814;
  --carpenter-state-layers-dark-on-absent-opacity-12: #2f30381f;
  --carpenter-state-layers-dark-on-absent-opacity-16: #2f303829;
  --carpenter-state-layers-dark-on-absent-minor-opacity-8: #e2e1ec14;
  --carpenter-state-layers-dark-on-absent-minor-opacity-12: #e2e1ec1f;
  --carpenter-state-layers-dark-on-absent-minor-opacity-16: #e2e1ec29;
  --carpenter-state-layers-dark-on-beware-opacity-8: #39300014;
  --carpenter-state-layers-dark-on-beware-opacity-12: #3930001f;
  --carpenter-state-layers-dark-on-beware-opacity-16: #39300029;
  --carpenter-state-layers-dark-on-beware-minor-opacity-8: #f8e37f14;
  --carpenter-state-layers-dark-on-beware-minor-opacity-12: #f8e37f1f;
  --carpenter-state-layers-dark-on-beware-minor-opacity-16: #f8e37f29;
}