

:root {
  --global-carpenter-elevation-light-level-0: 0 0 0 0 #00000000;
  --global-carpenter-elevation-light-level-1: 0 1px 2px 0 #0000004d, 0 1px 3px 1px #00000026;
  --global-carpenter-elevation-light-level-2: 0 1px 2px 0 #0000004d, 0 2px 6px 2px #00000026;
  --global-carpenter-elevation-light-level-3: 0 4px 8px 3px #00000026, 0 1px 3px 0 #0000004d;
  --global-carpenter-elevation-light-level-4: 0 6px 10px 4px #00000026, 0 2px 3px 0 #0000004d;
  --global-carpenter-elevation-light-level-5: 0 8px 12px 6px #00000026, 0 4px 4px 0 #0000004d;
  --global-carpenter-elevation-dark-level-0: 0 0 0 1px #00000000;
  --global-carpenter-elevation-dark-level-1: 0 1px 3px 1px #00000026, 0 1px 2px 0 #0000004d;
  --global-carpenter-elevation-dark-level-2: 0 2px 6px 2px #00000026, 0 1px 2px 0 #0000004d;
  --global-carpenter-elevation-dark-level-3: 0 4px 8px 3px #00000026, 0 1px 3px 0 #0000004d;
  --global-carpenter-elevation-dark-level-4: 0 6px 10px 4px #00000026, 0 2px 3px 0 #0000004d;
  --global-carpenter-elevation-dark-level-5: 0 8px 12px 6px #00000026, 0 4px 4px 0 #0000004d;
}