

 :root {
  --carpenter-layout-core-spacing-xxs--2px-0125: 0.125rem;
  --carpenter-layout-core-spacing-xs--4px-025: 0.25rem;
  --carpenter-layout-core-spacing-s--8px-05: 0.5rem;
  --carpenter-layout-core-spacing-m--16px-1: 1rem;
  --carpenter-layout-core-spacing-l--24px-15: 1.5rem;
  --carpenter-layout-core-spacing-xl--32px-2: 2rem;
  --carpenter-layout-core-spacing-xxl--40px-25: 2.5rem;
  --carpenter-layout-core-spacing-xxxl--56px-35: 3.5rem;
  --carpenter-layout-core-spacing-null: 0rem;
  --carpenter-layout-ext-measures--0px-0: 0rem;
  --carpenter-layout-ext-measures--05px-003125: 0.031rem;
  --carpenter-layout-ext-measures--1px-00625: 0.063rem;
  --carpenter-layout-ext-measures--15px-009375: 0.094rem;
  --carpenter-layout-ext-measures--2px-0125: 0.125rem;
  --carpenter-layout-ext-measures--25px-015625: 0.156rem;
  --carpenter-layout-ext-measures--3px-01875: 0.188rem;
  --carpenter-layout-ext-measures--4px-025: 0.25rem;
  --carpenter-layout-ext-measures--8px-05: 0.5rem;
  --carpenter-layout-ext-measures--10px-0625: 0.625rem;
  --carpenter-layout-ext-measures--12px-075: 0.75rem;
  --carpenter-layout-ext-measures--14px-0875: 0.875rem;
  --carpenter-layout-ext-measures--16px-1: 1rem;
  --carpenter-layout-ext-measures--20px-125: 1.25rem;
  --carpenter-layout-ext-measures--22px-1375: 1.375rem;
  --carpenter-layout-ext-measures--24px-15: 1.5rem;
  --carpenter-layout-ext-measures--28px-175: 1.75rem;
  --carpenter-layout-ext-measures--32px-2: 2rem;
  --carpenter-layout-ext-measures--36px-225: 2.25rem;
  --carpenter-layout-ext-measures--40px-25: 2.5rem;
  --carpenter-layout-ext-measures--48px-3: 3rem;
  --carpenter-layout-ext-measures--44px-275: 2.75rem;
  --carpenter-layout-ext-measures--45px-28125: 2.813rem;
  --carpenter-layout-ext-measures--56px-35: 3.5rem;
  --carpenter-layout-ext-measures--57px-35625: 3.563rem;
  --carpenter-layout-ext-measures--64px-4: 4rem;
  --carpenter-layout-ext-measures--72px-45: 4.5rem;
  --carpenter-layout-ext-measures--80px-5: 5rem;
  --carpenter-layout-ext-measures--88px-55: 5.5rem;
  --carpenter-layout-ext-measures--96px-6: 6rem;
  --carpenter-layout-ext-measures--104px-65: 6.5rem;
  --carpenter-layout-ext-measures--112px-7: 7rem;
  --carpenter-layout-ext-measures--128px-8: 8rem;
  --carpenter-layout-ext-measures--144px-9: 9rem;
  --carpenter-layout-ext-measures--160px-10: 10rem;
  --carpenter-layout-ext-measures--176px-11: 11rem;
  --carpenter-layout-ext-measures--192px-12: 12rem;
  --carpenter-layout-ext-measures--208px-13: 13rem;
  --carpenter-layout-ext-measures--224px-14: 14rem;
  --carpenter-layout-ext-measures--240px-15: 15rem;
  --carpenter-layout-ext-measures--256px-16: 16rem;
  --carpenter-layout-ext-measures--272px-17: 17rem;
  --carpenter-layout-ext-measures--288px-18: 18rem;
  --carpenter-layout-ext-measures--304px-19: 19rem;
  --carpenter-layout-ext-measures--320px-20: 20rem;
  --carpenter-layout-ext-measures--352px-22: 22rem;
  --carpenter-layout-ext-measures--416px-26: 26rem;
  --carpenter-layout-ext-measures--480px-30: 30rem;
  --carpenter-layout-ext-measures--544px-34: 34rem;
  --carpenter-layout-ext-measures--608px-38: 38rem;
  --carpenter-layout-ext-measures--672px-42: 42rem;
  --carpenter-layout-ext-measures--736px-46: 46rem;
  --carpenter-layout-ext-measures--800px-50: 50rem;
  --carpenter-layout-ext-measures--864px-54: 54rem;
  --carpenter-layout-ext-measures--928px-58: 58rem;
  --carpenter-layout-ext-measures--992px-62: 62rem;
  --carpenter-layout-ext-measures--1056px-66: 66rem;
  --carpenter-layout-ext-measures--1120px-70: 70rem;  
}
