

 :root {
  --sdCarpenterLayoutCoreSpacingXxs2px0125: 0.125rem;
  --sdCarpenterLayoutCoreSpacingXs4px025rem: 0.25rem;
  --sdCarpenterLayoutCoreSpacingS8px05rem: 0.5rem;
  --sdCarpenterLayoutCoreSpacingM16px1rem: 1rem;
  --sdCarpenterLayoutCoreSpacingL24px15rem: 1.5rem;
  --sdCarpenterLayoutCoreSpacingXl32px2rem: 2rem;
  --sdCarpenterLayoutCoreSpacingXxl40px25rem: 2.5rem;
  --sdCarpenterLayoutCoreSpacingXxxl56px35rem: 3.5rem;
  --sdCarpenterLayoutCoreSpacingNull: 0rem;
  --sdCarpenterLayoutExtMeasures0px0rem: 0rem;
  --sdCarpenterLayoutExtMeasures05px003125rem: 0.031rem;
  --sdCarpenterLayoutExtMeasures1px00625rem: 0.063rem;
  --sdCarpenterLayoutExtMeasures15px009375rem: 0.094rem;
  --sdCarpenterLayoutExtMeasures2px0125rem: 0.125rem;
  --sdCarpenterLayoutExtMeasures25px015625rem: 0.156rem;
  --sdCarpenterLayoutExtMeasures3px01875rem: 0.188rem;
  --sdCarpenterLayoutExtMeasures4px025rem: 0.25rem;
  --sdCarpenterLayoutExtMeasures8px05rem: 0.5rem;
  --sdCarpenterLayoutExtMeasures10px0625rem: 0.625rem;
  --sdCarpenterLayoutExtMeasures12px075rem: 0.75rem;
  --sdCarpenterLayoutExtMeasures14px0875rem: 0.875rem;
  --sdCarpenterLayoutExtMeasures16px1rem: 1rem;
  --sdCarpenterLayoutExtMeasures20px125rem: 1.25rem;
  --sdCarpenterLayoutExtMeasures22px1375rem: 1.375rem;
  --sdCarpenterLayoutExtMeasures24px15rem: 1.5rem;
  --sdCarpenterLayoutExtMeasures28px175rem: 1.75rem;
  --sdCarpenterLayoutExtMeasures32px2rem: 2rem;
  --sdCarpenterLayoutExtMeasures36px225rem: 2.25rem;
  --sdCarpenterLayoutExtMeasures40px25rem: 2.5rem;
  --sdCarpenterLayoutExtMeasures48px3rem: 3rem;
  --sdCarpenterLayoutExtMeasures44px275rem: 2.75rem;
  --sdCarpenterLayoutExtMeasures45px28125rem: 2.813rem;
  --sdCarpenterLayoutExtMeasures56px35rem: 3.5rem;
  --sdCarpenterLayoutExtMeasures57px35625rem: 3.563rem;
  --sdCarpenterLayoutExtMeasures64px4rem: 4rem;
  --sdCarpenterLayoutExtMeasures72px45rem: 4.5rem;
  --sdCarpenterLayoutExtMeasures80px5rem: 5rem;
  --sdCarpenterLayoutExtMeasures88px55rem: 5.5rem;
  --sdCarpenterLayoutExtMeasures96px6rem: 6rem;
  --sdCarpenterLayoutExtMeasures104px65rem: 6.5rem;
  --sdCarpenterLayoutExtMeasures112px7rem: 7rem;
  --sdCarpenterLayoutExtMeasures128px8rem: 8rem;
  --sdCarpenterLayoutExtMeasures144px9rem: 9rem;
  --sdCarpenterLayoutExtMeasures160px10rem: 10rem;
  --sdCarpenterLayoutExtMeasures176px11rem: 11rem;
  --sdCarpenterLayoutExtMeasures192px12rem: 12rem;
  --sdCarpenterLayoutExtMeasures208px13rem: 13rem;
  --sdCarpenterLayoutExtMeasures224px14rem: 14rem;
  --sdCarpenterLayoutExtMeasures240px15rem: 15rem;
  --sdCarpenterLayoutExtMeasures256px16rem: 16rem;
  --sdCarpenterLayoutExtMeasures272px17rem: 17rem;
  --sdCarpenterLayoutExtMeasures288px18rem: 18rem;
  --sdCarpenterLayoutExtMeasures304px19rem: 19rem;
  --sdCarpenterLayoutExtMeasures320px20rem: 20rem;
  --sdCarpenterLayoutExtMeasures352px22rem: 22rem;
  --sdCarpenterLayoutExtMeasures416px26rem: 26rem;
  --sdCarpenterLayoutExtMeasures480px30rem: 30rem;
  --sdCarpenterLayoutExtMeasures544px34rem: 34rem;
  --sdCarpenterLayoutExtMeasures608px38rem: 38rem;
  --sdCarpenterLayoutExtMeasures672px42rem: 42rem;
  --sdCarpenterLayoutExtMeasures736px46rem: 46rem;
  --sdCarpenterLayoutExtMeasures800px50rem: 50rem;
  --sdCarpenterLayoutExtMeasures864px54rem: 54rem;
  --sdCarpenterLayoutExtMeasures928px58rem: 58rem;
  --sdCarpenterLayoutExtMeasures992px62rem: 62rem;
  --sdCarpenterLayoutExtMeasures1056px66rem: 66rem;
  --sdCarpenterLayoutExtMeasures1120px70rem: 70rem;
}
