

:root {
  --sdGlobalCarpenterCornerCoreNull: 0;
  --sdGlobalCarpenterCornerCoreXs4px025rem: 0.25rem;
  --sdGlobalCarpenterCornerCoreUpXs4px025rem: 0.25rem 0.25rem 0rem 0rem;
  --sdGlobalCarpenterCornerCoreUpL16px1rem: 1rem 1rem 0rem 0rem;
  --sdGlobalCarpenterCornerCoreUpXl28px175rem: 1.75rem 1.75rem 0rem 0rem;
  --sdGlobalCarpenterCornerCoreS8px05rem: 0.5rem;
  --sdGlobalCarpenterCornerCoreM12px075rem: 0.75rem;
  --sdGlobalCarpenterCornerCoreL16px1rem: 1rem;
  --sdGlobalCarpenterCornerCoreXl28px175rem: 1.75rem;
  --sdGlobalCarpenterCornerCoreLeftL16px1rem: 0rem 1rem 1rem 0rem;
  --sdGlobalCarpenterCornerCoreFull: 100%;
}
